# Pandas Library in Python:

## Data cleaning with python and pandas: Detecting Missing Values

### Missing Values

**there are a number of methods to deal with missing values in the data frame:**

**Read the csv file data**

In [1]:
import pandas as pd
df= pd.read_csv("D:\ML training\python\property_data.csv")
print(df.head(10))

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

**Looking at the ST_NUM column**

In [2]:
print(df['ST_NUM'])
print(df['ST_NUM'].isnull())

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64
0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

**Looking at the NUM_BEDROOMS column**

In [3]:
# Non-standard Missing Values
# sometimes it might be the case where there is missing values that have different formats
# Looking at the NUM_BEDROOMS column
# pandas will recognize "Na" as a missing value , but what about others?

print( df['NUM_BEDROOMS'])
print( df['NUM_BEDROOMS'].isnull())

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object
0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

**Making a list of missing value types**

In [4]:
missing_values = ["n/a", "na", "--"]
df = pd.read_csv("D:\ML training\python\property_data.csv", na_values = missing_values)
df

# now we have clear data which all have NAN

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

**Unexpected Missing Value**

**Looking at the OWN_OCCUPIED column**

so far we have seen standard missing values  and non-standard missing values.

what if we have an unexpected type?

For example if our feature is expected to be a string but there is a numeric type then technically this is also a missing value

as we see here in OWN_OCCUPIED column we consider 12 is also a missing value.

In [5]:
print(df['OWN_OCCUPIED'])
print(df['OWN_OCCUPIED'].isnull())

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

**Detecting numbers**

In [6]:
import numpy as np
cnt=0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[cnt, 'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    cnt+=1

**Looking at the OWN_OCCUPIED column**

In [7]:
print(df['OWN_OCCUPIED'])
print(df['OWN_OCCUPIED'].isnull())

0      Y
1      N
2      N
3    NaN
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object
0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

### summarizing the missing values

After we have cleaned the missing values we will probably want to summarize them. For instance we might to look at the total number of missing values for each feature.

**Total missing values for each feature**

In [8]:
print(df.isnull().sum())

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    3
NUM_BATH        1
SQ_FT           2
dtype: int64

**Any missing values?**

In [9]:
print(df.isnull().values.any())

True

**Total number of missing values**

In [10]:
print( df.isnull().sum().sum())

11

**Replace missing values with a number**

In [11]:
print(df.ST_NUM)
df['ST_NUM'].fillna(125, inplace=True)
print(df.ST_NUM)

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64
0    104.0
1    197.0
2    125.0
3    201.0
4    203.0
5    207.0
6    125.0
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

**Location based replacement**

In [12]:
df.loc[2,'ST_NUM'] = 125
df.ST_NUM

0    104.0
1    197.0
2    125.0
3    201.0
4    203.0
5    207.0
6    125.0
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

**Replace using median**

In [13]:
# A very common way to replace missing values is using a median.
print(df.NUM_BEDROOMS)
median = df['NUM_BEDROOMS'].median()
df['NUM_BEDROOMS'].fillna(median, inplace=True)

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    1.0
8    NaN
Name: NUM_BEDROOMS, dtype: float64

In [14]:
df.NUM_BEDROOMS

0    3.0
1    3.0
2    2.5
3    1.0
4    3.0
5    2.5
6    2.0
7    1.0
8    2.5
Name: NUM_BEDROOMS, dtype: float64