# Pandas Library in Python:

**Column Selection**

In [1]:
#We can select any column from the DataFrame. Here is the code that demonstrates how to select a column from the DataFrame.

import pandas as pd
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
  
d1 = pd.DataFrame(info) 
print(d1)
print (d1 ['two'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
Name: two, dtype: int64

**Column Addition**

In [2]:
#We can also add any new column to an existing DataFrame. 

info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
  
df = pd.DataFrame(info)  
print(df)
# Add a new column to an existing DataFrame object   
  
print ("Add new column by passing series")  
df['three']=pd.Series([20,40,60],index=['a','b','c'])  
print (df)  
  
print ("Add new column using existing DataFrame columns")  
df['four']=df['one']+df['three']  
  
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6
Add new column by passing series
   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN
Add new column using existing DataFrame columns
   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   60.0  63.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  NaN    6    NaN   NaN

**Column Deletion:**

In [3]:
#We can also delete any column from the existing DataFrame. 
 
info = {'one' : pd.Series([1, 2], index= ['a', 'b']),   
   'two' : pd.Series([1, 2, 3], index=['a', 'b', 'c'])}  
     
df = pd.DataFrame(info)  
print ("The DataFrame:")  
print (df)  
  
# using del function  
print ("Delete the first column:")  
del df['one']  
print (df)  

# using pop function  
print ("Delete the another column:")  
df.pop('two')  
print (df)

The DataFrame:
   one  two
a  1.0    1
b  2.0    2
c  NaN    3
Delete the first column:
   two
a    1
b    2
c    3
Delete the another column:
Empty DataFrame
Columns: []
Index: [a, b, c]

**Selection by Label:**

In [4]:
#We can select any row by passing the row label to a loc function.

info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),   
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
df = pd.DataFrame(info)  
print(df)
print (df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6
one    2.0
two    2.0
Name: b, dtype: float64

**Selection by integer location:**

In [5]:
#The rows can also be selected by passing the integer location to an iloc function.
  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}

df = pd.DataFrame(info)  
print (df.iloc[3])

one    4.0
two    4.0
Name: d, dtype: float64

**Slice Rows**

In [6]:
#It is another method to select multiple rows using ':' operator.
 
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),   
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  

df = pd.DataFrame(info)  
print (df[2:5])

   one  two
c  3.0    3
d  4.0    4
e  5.0    5

**Addition of rows:**

In [7]:
#We can easily add new rows to the DataFrame using append function. It adds the new rows at the end.

d = pd.DataFrame([[7, 8], [9, 10]], columns = ['x','y'])
print(d)

d2 = pd.DataFrame([[11, 12], [13, 14]], columns = ['x','y'])  
d = d.append(d2)  
print (d)

   x   y
0  7   8
1  9  10
    x   y
0   7   8
1   9  10
0  11  12
1  13  14

**Deletion of rows:**

In [8]:
#We can delete or drop any rows from a DataFrame using the index label. 
#If in case, the label is duplicate then multiple rows will be deleted.

a_info = pd.DataFrame([[4, 5], [6, 7]], columns = ['x','y'])  
b_info = pd.DataFrame([[8, 9], [10, 11]], columns = ['x','y'])  
a_info = a_info.append(b_info)  
print(a_info)

# Drop rows with label 0  
a_info = a_info.drop(0)  
print(a_info)

    x   y
0   4   5
1   6   7
0   8   9
1  10  11
    x   y
1   6   7
1  10  11

**to read json data**

In [3]:
import pandas as pd
df = pd.read_json ("D:\ML training\python/data.json")
print (df)

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [5]:
from pandas import DataFrame

data = {'Product': ['Desktop Computer','Tablet','iPhone','Laptop'],
        'Price': [700,250,800,1200]
        }

df = DataFrame(data, columns= ['Product', 'Price'])

print (df)

df.to_csv(r'D:\ML training\python/data1.csv')

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [6]:
df = pd.read_csv("D:\ML training\python/data1.csv")
df

   Unnamed: 0           Product  Price
0           0  Desktop Computer    700
1           1            Tablet    250
2           2            iPhone    800
3           3            Laptop   1200