# Python Basics

## 1) Operators

In [53]:
print(a+b,end = ",")
print(a-b)

13.1,-7.9

In [44]:
print(a-b)

-7.9

In [45]:
print(a*b)

27.3

In [50]:
print(b/a)

4.038461538461538

In [47]:
print(a**b)

22762.510214724673

In [48]:
print(b%a)

0.09999999999999964

In [51]:
print(int(b//a))

4

In [9]:
a = {5,2,3,1,4} # printing set variable
print("a = ", a)
print(type(a)) # data type of variable a

a =  {1, 2, 3, 4, 5}
<class 'set'>

In [6]:
x = 10
y = 12
print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [7]:
x = True
y = False
# Output: x and y is False
print('x and y is',x and y)
# Output: x or y is True
print('x or y is',x or y)
# Output: not x is False
print('not x is',not x)

x and y is False
x or y is True
not x is False

In [8]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1) # Output: False
print(x2 is y2) # Output: True
print(x3 is y3) # Output: False

False
True
False

In [11]:
x = 'Hello world'
y = {1:'a',2:'b'}
print('H' in x) # Output: True
print('hello' not in x) # Output: True
print(1 in y) # Output: True
print('a' in y) # Output: False

True
True
True
False

## 2)Typecasting

In [21]:
num1 = float(input())
num2 = float(input())
print(num1+num2)

12
65
77.0

In [56]:
print("Hello \nWorld")

Hello
World

## 3) Lists

In [128]:
list1 = [1,2,3,4,5,6]
list2 = [2,4,6,8,10]

In [129]:
records = [['Aayushi',24],['Sampat',45],['Kapil',76]]
print(records)

[['Aayushi', 24], ['Sampat', 45], ['Kapil', 76]]

In [130]:
list1

[1, 2, 3, 4, 5, 6]

In [131]:
print(list1)
print(list1+list2) #it wont give the sum of both

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 2, 4, 6, 8, 10]

In [132]:
print(list1[2])

3

In [135]:
print(list1[:3])

[1, 2, 3]

In [76]:
pos = int(input())
num = int(input())
list1[pos] = num
print(list1)

4
23
[1, 2, 10, 4, 23, 6]

In [1]:
list = [ 'xyz', 123, 1.23, 'RAM', 17.5 ]
tinylist= [123, 'RAM']
print(list) # Prints complete list
print(list[0]) # Prints first element of the list
print(list[1:3]) # Prints elements starting from 2nd till 3rd
print(list[2:]) # Prints elements starting from 3rd element
print(tinylist* 2) # Prints list two times
print(list + tinylist) # Prints concatenated lists
list.append("Dr Nandinee Gupta") #Applicable
print("list[3:] = ", list[3:])
tinylist.insert(1, "Abhishek") # To add new value

['xyz', 123, 1.23, 'RAM', 17.5]
xyz
[123, 1.23]
[1.23, 'RAM', 17.5]
[123, 'RAM', 123, 'RAM']
['xyz', 123, 1.23, 'RAM', 17.5, 123, 'RAM']
list[3:] =  ['RAM', 17.5, 'Dr Nandinee Gupta']

## 4) Dictionaries

In [121]:
records = {'Aayushi' : 32 , 'Sampat' : 45, 'Rishabh' : 87}
print(records)

{'Aayushi': 32, 'Sampat': 45, 'Rishabh': 87}

In [122]:
for keys in records.values():
    print(keys)

32
45
87

In [123]:
print(int((records['Aayushi'])))

32

In [5]:
dict= {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict= {'name': 'RAM','code':'8989', 'dept': 'IT'}
print(dict['one']) # Prints value for 'one' key
print(dict[2]) # Prints value for 2 key
print(tinydict) # Prints complete dictionary
print(tinydict.keys()) # Prints all the keys
print(tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'RAM', 'code': '8989', 'dept': 'IT'}
dict_keys(['name', 'code', 'dept'])
dict_values(['RAM', '8989', 'IT'])

## 5) Tuples

In [125]:
list1 = ['Aayushi',0,56]
list1[0] = "kapil"
print(list1)

['kapil', 0, 56]

In [126]:
tuple1 = ('Aayushi',0,56)
tuple1[0] = "Kapil"
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [3]:
tuple = ('xyz', 123, 1.23, 'RAM', 17.5 )
tinytuple= (123, 'RAM')
print(tuple) # Prints complete list
print(tuple[0]) # Prints first element of the list
print(tuple[1:3]) # Prints elements starting from 2nd till 3rd
print(tuple[2:]) # Prints elements starting from 3rd element
print(tinytuple* 2) # Prints list two times
print (tuple + tinytuple) # Prints concatenated lists
# tuple.append('Dr Neeraj Gupta') # Not Applicable

('xyz', 123, 1.23, 'RAM', 17.5)
xyz
(123, 1.23)
(1.23, 'RAM', 17.5)
(123, 'RAM', 123, 'RAM')
('xyz', 123, 1.23, 'RAM', 17.5, 123, 'RAM')

## 6) Sets

In [86]:
for i in range(0,10,2):
    print(i,end=" ")
print("")
print(i)

0 2 4 6 8
8

In [95]:
string1 = "apple"
print(string1)
length = len(string1)

apple

In [97]:
for i in range(0,length):
    print(string1[i],end=" ")

a p p l e

In [99]:
for i in string1:
    print(i,end=" ")

a p p l e

In [184]:

list1 = [1,2,3,4]
length = len(list1)
print(sum(list1))
print(max(list1))
print(length)

10
4
4

In [156]:
number1 = int(input())
if number1%2==0:
    print("even")
else:
    print("odd")

23
odd

In [163]:
number2 =int(input())
if number2%2==0 :
    print("divisible by 2")
elif number2%5== 0 :
    print("divisible by 5")
else:
    print("not divisible by both")

34
divisible by 2

In [167]:
string2 = "apple"
length = len(string2)
i=0
while(i<length):
    print(string1[i],end=" ")
    i +=1

a p p l e

In [194]:
def sum1(a,b):
    d=a+b
    return d
d= sum1(34,54)

print (d)

88